@inherits ComponentBase

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> ResourceLocale

<section class="tech-card">
    @* <h3 class="tech-title">Technologies</h3> *@

    <table class="tech-table">
        @* <caption class="sr-only">List of technologies I use</caption> *@
        <thead>
            <tr>
                <th>@ResourceLocale["resource_common_tech_table_area_header"]</th>
                <th>@ResourceLocale["resource_common_tech_table_technology_header"]</th>
                <th>
                    @ResourceLocale["resource_common_tech_table_experience_header"]<br />
                    <span style="font-size: 0.7rem;">@ResourceLocale["resource_common_tech_table_years_label"]</span>
                </th>
                <th>@ResourceLocale["resource_common_tech_table_notes_header"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_operating_systems_title"]</td>
                <td>
                    <span class="tech-tag">Windows</span>
                    <span class="tech-tag">Linux</span>
                </td>
                <td class="tech-years">15+</td>
                <td>@ResourceLocale["resource_common_tech_table_operating_systems_description"]</td>
            </tr>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_analysis_design_title"]</td>
                <td>
                    @*                 <span class="tech-tag">Blazor</span>
                    <span class="tech-tag">Razor</span> *@
                    <span class="tech-tag">Documentation</span>
                    <span class="tech-tag">Application Design</span>
                    <span class="tech-tag">Photoshop</span>
                </td>
                <td class="tech-years">4</td>
                <td>@ResourceLocale["resource_common_tech_table_analysis_design_description"]</td>
            </tr>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_project_control_title"]</td>
                <td>
                    <span class="tech-tag">JIRA</span>
                    <span class="tech-tag">Confluence</span>
                    <span class="tech-tag">Plus4U</span>
                </td>
                <td class="tech-years">10+</td>
                <td>@ResourceLocale["resource_common_tech_table_project_control_description"]</td>
            </tr>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_code_flow_title"]</td>
                <td>
                    <span class="tech-tag">GIT</span>
                    <span class="tech-tag">SVN</span>
                    <span class="tech-tag">DevOps CI/CD</span>
                </td>
                <td class="tech-years">10+</td>
                <td>@ResourceLocale["resource_common_tech_table_code_flow_description"]</td>
            </tr>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_databases_title"]</td>
                <td>
                    <span class="tech-tag">MongoDB</span>
                    <span class="tech-tag">EntityFramework</span>
                    <span class="tech-tag">NHibernate</span>
                    <span class="tech-tag">MySQL</span>
                    <span class="tech-tag">SQLite</span>
                    <span class="tech-tag">RealmDB</span>
                    <span class="tech-tag">ACCESS</span>
                </td>
                <td class="tech-years">15+</td>
                <td>@ResourceLocale["resource_common_tech_table_databases_description"]</td>
            </tr>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_programming_languages_title"]</td>
                <td>
                    <span class="tech-tag">C#</span>
                    <span class="tech-tag">C/C++</span>
                    <span class="tech-tag">Java</span>
                    <span class="tech-tag">LUA</span>
                    <span class="tech-tag">Python</span>
                </td>
                <td class="tech-years">15+</td>
                <td>@ResourceLocale["resource_common_tech_table_programming_languages_description"]</td>
            </tr>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_web_technologies_title"]</td>
                <td>
                    <span class="tech-tag">ASP.NET MVC</span>
                    <span class="tech-tag">ASP.NET API</span>
                    <span class="tech-tag">Blazor</span>
                    <span class="tech-tag">HTML</span>
                    <span class="tech-tag">CSS (SASS)</span>
                    <span class="tech-tag">JavaScript</span>
                    <span class="tech-tag">JQuery</span>
                </td>
                <td class="tech-years">10+</td>
                <td>@ResourceLocale["resource_common_tech_table_web_technologies_description"]</td>
            </tr>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_mobile_technologies_title"]</td>
                <td>
                    <span class="tech-tag">Xamarin</span>
                    <span class="tech-tag">MAUI</span>
                    <span class="tech-tag">Avalonia</span>
                </td>
                <td class="tech-years">10+</td>
                <td>@ResourceLocale["resource_common_tech_table_mobile_technologies_description"]</td>
            </tr>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_game_technologies_title"]</td>
                <td>
                    <span class="tech-tag">Godot</span>
                    <span class="tech-tag">Unity3D</span>
                    <span class="tech-tag">TrinityCore</span>
                </td>
                <td class="tech-years">15+</td>
                <td>@ResourceLocale["resource_common_tech_table_game_technologies_description"]</td>
            </tr>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_other_title"]</td>
                <td>
                    <span class="tech-tag">JSON</span>
                    <span class="tech-tag">XML</span>
                    <span class="tech-tag">WPF</span>
                    <span class="tech-tag">WinForms</span>
                    <span class="tech-tag">Micro-controllers</span>
                    <span class="tech-tag">IoT</span>
                    <span class="tech-tag">AI</span>
                </td>
                <td class="tech-years">15+</td>
                <td>@ResourceLocale["resource_common_tech_table_other_description"]</td>
            </tr>
            <tr>
                <td class="tech-area">@ResourceLocale["resource_common_tech_table_currently_learning_title"]</td>
                <td>
                    <span class="tech-tag">AI</span>
                    <span class="tech-tag">Godot</span>
                    <span class="tech-tag">Cubernetes</span>
                    <span class="tech-tag">Docker</span>
                </td>
                <td class="tech-years">15+</td>
                <td>@ResourceLocale["resource_common_tech_table_currently_learning_description"]</td>
            </tr>
        </tbody>
    </table>
</section>